/* F - Red Theme - Extended from: https://gist.github.com/909284
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	border: 1px solid 		#FFFFFF;
    border-top: 1px solid 		#BBB;
    border-bottom: 1px solid 		#BBB;
	background: 			#FFFFFF;
	color: 					#444;
	font-weight: bold;
	text-shadow: 0 0 0 #FFFFFF;
}
.temp{

  	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF7373 /*{a-bar-background-start}*/), to( #FF4040 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #737373 /*{a-bar-background-start}*/, #F0F0F0 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #737373 /*{a-bar-background-start}*/, #F0F0F0 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #737373 /*{a-bar-background-start}*/, #F0F0F0 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #737373 /*{a-bar-background-start}*/, #F0F0F0 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #737373 /*{a-bar-background-start}*/, #F0F0F0 /*{a-bar-background-end}*/);
}

.ui-bar-f,
.ui-bar-f input, 
.ui-bar-f select, 
.ui-bar-f textarea, 
.ui-bar-f button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-f .ui-link-inherit {
	color: 					#fff;
}
.ui-bar-f .ui-link {
	color: 					#7cc4e7;
	font-weight: bold;
}
.ui-body-f,
.ui-overlay-f {
	border: 1px solid 		#4A4A4A;
	background: 			#d62828;
	color: 					#fff;
	 text-shadow: 0 1px 0 	#000;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c44f4f /*{a-body-background-start}*/), to( #ab2525 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/);	
}
.ui-overlay-f {
	background-image: none;
	border-width: 0;
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-body-f .ui-link-inherit {
	color: 					#fff;
}
.ui-body-f .ui-link {
	color: 					#2489CE;
	font-weight: bold;
}

.ui-btn-up-f {
	border: 1px solid #711414;
	background: #ab2525;
	text-shadow: 0 -1px 1px #711414;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c44f4f /*{a-bup-background-start}*/), to( #ab2525 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/);
}

.ui-btn-up-f a.ui-link-inherit {
	color: 					#fff;
}

.ui-btn-hover-f {
	border: 1px solid #6e0000;
	background: #b54a4a;
	text-shadow: 0 -1px 1px #690101;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d47272 /*{a-bhover-background-start}*/), to( #b54a4a /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/);
}

.ui-btn-hover-f a.ui-link-inherit {
	color: 					#fff;
}

.ui-btn-down-f {
	border: 1px solid #782323;
	background: #c44f4f;
	text-shadow: 0 -1px 1px #782323;
	background-image: -moz-linear-gradient(top, #9e3939, #c44f4f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e3939), color-stop(1, #c44f4f));
	background-image: -webkit-gradient(linear, left top, left bottom, from( #9e3939 /*{a-bdown-background-start}*/), to( #c44f4f /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/);
}

.ui-btn-down-f a.ui-link-inherit {
	color: 					#fff;
}

.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
/*
.topbar {
    color: #0000FF !important;
    border:0 solid  white !important;
    box-shadow: none!important;
    font-family: Arial, sans-serif;
    font-size: 14px !important;
    text-decoration: none;
}
*/
.tabbar {
    margin-bottom:0px;
    padding-bottom:0px;
    border:none;
}

.tabbar .ui-btn-active { 
    color: #D62828 !important;
    background: none !important; 
    background-color: white !important;
}

.tabbar .ui-btn {
    color: #888;
    padding-top: 40px !important;
    background-color: white !important;
    border:0 solid  white !important;
    font-family: Arial, sans-serif;
    font-size: 7px !important;
    text-shadow:0 0 0;
}

.tabbar .ui-btn:after { 
    width: 40px!important;
    height: 40px!important;
    margin-left: -20px !important;
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; 
    border-radius: 0 !important;
}

.ui-btn-f {
	color: #FFFFFF!important;
    text-shadow: none;
	border:1px solid #b30808;

 background-color: #f62b2b; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
 background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
 background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
 background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
 background-image: -o-linear-gradient(top, #f62b2b, #d20202);
 background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);


}

.topbar .ui-btn-f {
	color: #FF0000!important;
	background-color: #FFFFFF;
    text-shadow: none;
	border:none;
	background-image: none;
}

.footbar .ui-btn-f {
	color: #FF0000!important;
	background-color: #FFFFFF;
    text-shadow: none;
	border:none;
	background-image: none;
}

.ui-body-f input{
	font-family: Helvetica, Arial, sans-serif;
	color: #000000 !important;
	text-shadow: 0 0 0 #FFFFFF;
	background-color: #FFFFFF;
	box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; 
}



