/* F - Red Theme - Extended from: https://gist.github.com/909284
-----------------------------------------------------------------------------------------------------------*/

.badged:after{
	font-size: 10px !important;
    content:attr(data-count);
    border-radius:50%;
    color:#EFEFEF;
    position:absolute;
    z-index:1000;
    text-shadow: 0 1px #444;
    text-align:center;
    top:5px;
    right:6%;
    padding:0px 3px;
    border:2px solid #eee;
    box-shadow: -1px 1px 4px #444;
    margin:0 4px;
    background: #ff0505;
}

.book_ticket:before { background:  url("images/ic_action_btn2_242x.png") 50% 50% no-repeat; background-size: 40px 40px; }

.book_ticket:after { background:  url("images/ic_action_btn1_242x.png") 50% 50% no-repeat; background-size: 40px 40px; }

.schedule_fare:after { background:  url("images/ic_action_btn2_242x.png") 50% 50% no-repeat; background-size: 40px 40px; }

.member:after { background:  url("images/ic_action_btn3_242x.png") 50% 50% no-repeat; background-size: 40px 40px; }

.shopping_cart:after { background:  url("images/ic_action_btn4_242x.png") 50% 50% no-repeat; background-size: 40px 40px; }

.promotion:after { background:  url("images/ic_action_btn5_242x.png") 50% 50% no-repeat; background-size: 40px 40px; }

.language:after { background:  url("images/language.png") 50% 50% no-repeat; background-size: 40px 40px; }

#content {
    padding: 0;
    position : absolute !important;
    top : 40px !important;
    right : 0;
    bottom : 72px !important;
    left : 0 !important;
    border-bottom: 1px solid 		#BBB;
    background: #FFFFFF;
}

.fm_scrollee {
/*    width:100% !important;
    height:100% !important;
    -webkit-overflow-scrolling:touch; overflow: scroll;
*/
}

.iframe_scrollee {
    width:100% !important;
    height:100% !important;
    -webkit-overflow-scrolling:touch; overflow: scroll;
}

.fm_schedule_fare_content{
	background-color:white;
	padding:0px;
	border-top:solid 1px #BBB;
	border-bottom:solid 1px #BBB;
}

.fm_promotion_content{
	background-color:white;
	padding:0px;
	border-top:solid 1px #BBB;
	border-bottom:solid 1px #BBB;
}

            
.fm_content {
    padding: 20px;
    position : absolute !important;
    top : 40px !important;
    right : 0;
    /*bottom : 72px !important;*/
    left : 0 !important;
    border-bottom: 1px solid 		#BBB;
}

.fm_content input {
    background: #FFFFFF;
    font-size: 10px !important;
    text-shadow: 0 0 0 #FFFFFF;
    color:#000000;
}

#fm_text {
    font-size: 20px !important;
}


.content_full_row{
	width:100%;
	float:left;
}

.content_left_col{
	width:60%;
    float:left;
}

.content_right_col{
	width:35%;
    float:right;
}

#member_content {

}

#member_info_content {

}

/*Search Ticket Pop Up*/
 .popupCls {
            color: #FFFFFF;
            background: #222222;
            font-size: 20px;
            margin-top: 8px;
            font-weight: 400
        }

/*Search Booking Result List*/
#term_and_condition_content {
	background-color:#ffffff;
}
.voyage_list_li {
    border-color:#CCC;background-color:#FFF;
}
.voyage_list_route {
    color:#000;
}
.voyage_list_departure_time {
    color:#AAA;
}
.voyage_list_second {
    float:left;text-shadow:0 0 0;width:50%;
}
.voyage_list_Fare_Fee {
    color:#F00;
}
.voyage_list_cls {
    color:#000;
}
.voyage_list_booking {
    float:left;text-shadow:0 0 0;text-align:right;width:50%;
}


.topbarHeader {
font-weight:700;
}
#frameContainer {

    margin: 40px;
    position: fixed;
    top: 80px;
    left: 0px;
    width: 200px;
    bottom: 25px;
    min-width: 200px;

}

iframe#frame2 { width: 100%; height:100% }

.cap_letters_only {
	text-transform:uppercase;
}

.small_letters_only {
	text-transform:lowercase;
}

.pop_up_content_width400{
	max-width:400px;
	height:auto;
}

.pop_up_content_width400{
	max-width:400px;
	height:auto;
}

.pop_up_content_width90p{
	max-width:90%;
	width:400px;
	height:auto;
}

.pop_up_content {
	padding:10px;
}

.map_content{
	padding:0;
}

.tc_content{
	padding: 6px;
}

#map-canvas { 
	width: 100%; 
	height: 100%; 
	padding: 0; 
}

#promotion_slider_container {
	margin-left:auto;
	margin-right:auto;
	width:99%;
}

.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  display: inline-block;
}

.red {
  color: #ff0000;
  border: 2px #e74c3c solid;
  background-color: #fff;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

.wordwrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}
.show_top_border{
       border-top: 1px solid #CCC;
}

.adbar {
      width: 100%;
       border-top: 1px solid #CCC;
       height:51px;
       background:#fff6cc;
}
.adbar_pop {
  
        border-top: 1px solid #CCC;
        background:#fff;
        padding-left:0;
        margin-left:10px;
         margin-right:10px;
         margin-top:10px;
         margin-bottom:20px;
}

.ad_frame{
       border: none;
       width: 100%;
       height: 100%;
       background-color:#fae4e4;
}
.ad_frame_popup{
       border: none;
       width: 100%;
       height: 100%;
       background-color:#FFF;
}
.ad_frame_popup_tc{
       border: none;
       width: 100%;
       height: 100%;
       background-color:#FFF;
}
.footer_topline {
    border-top: 1px solid #CCC;
}

.tblContinueFooterCls{
    text-align: center;
    width: 100%;
    background-color: #ec222c;
    color: #FFF;
    font-size: 18px;
    padding: 15px 15px 15px 15px;
}

.tblPromotionBorderCls{
    border-right: 2px solid #FFF;
}
.tblPromotionBorderCls td{
    width:50%;
}

.tablinks{
    border-radius-topright: 1em;
    border-radius-topleft: 1em;
}
